*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
    background-color: black;
    color: #fff;
    overflow-x: hidden;
}


header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 26px 56px;
    position: absolute;
    margin: 24px;
    width: 100%;
    z-index: 5;

}

header a.logo{
    display: block;
}

header .logo svg{
    fill: #e50914;
    height: 37px;
}

header div+div{
    text-align: right;
}

header a.button{
    display: inline-block;
    background-color: #e50914;
    color: #fff;
    padding: 7px 17px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 15px;
}

header select{
    background: transparent;
    color: #fff;
    padding: 6px 0 6px 20px;
    border-radius: 3;
}

header div.select{
    display: inline-block;
    margin-right: 30px;
}

header div.select svg{
    height: 20px;
    fill : #fff;
    position: absolute;
    margin-top: 2px;
    margin-left: 4px;
}
div.splash {
    position: relative;
}

div.splash div.gradient{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    inset: 0;
}
div.splash div.background img {
    width: 100%;
    opacity: 0.6;
}

div.splash div.content{
    max-width: 655px;
    position: absolute;
    inset: 0;
    display: grid;
    left:50%;
    margin-left: -327.5px;
    align-items: center;
    text-align: center;
}
div.splash h1, div.splash h2, div.splash h3{
    font-weight: normal;
}

div.splash h1{
    font-size: 3.125rem;
    font-weight: bold;
}
div.splash h2{
    font-size: 1.625rem;
    margin-top: 13px;
    margin-bottom: 29px;
}
div.splash h3{
    font-size: 1.2rem;
}

div.splash form{
    position: relative;
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr max-content;
}

div.splash input{
    padding: 15px 10px;
    font-size: 1.2rem;
    width: 100%;
    background: rgba(1, 0, 0, 0.406);
    border:1px white solid;
    border-radius: 10px;
    
}

div.splash input~span{
    position: absolute;
    left: 12px;
    top: 19px;
    z-index: 3;
    color: #aaa;
    transition: all 0.15s ease;
    pointer-events: none;
}

div.splash input:focus{
    padding-top: 19px;
    padding-bottom: 11px;
    outline: none;
}   

div.splash input:focus~span{
    top: 4px;
    font-size: 0.8rem;
}

div.splash button{
    margin-left: 10px;
    font-size: 1.625rem;
    font-weight: bold;
    padding: 12px 26px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 6px;
}

section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 46px;
    padding:70px 45px;
    align-items: center;
}

section div.text h1{
    font-size: 3.125rem;
    margin-bottom: 8px;
}

section div.text p{
    font-size: 1.625rem;
}

.media{
    position: relative;
}

.media.s1 img{
    width: 400px;
}

.media.s1 video{
    width: 293px;
    position: absolute;
    top: 62px;
    left: 52px;;
}

section:nth-child(even) div.texts{
    order: 2;
}